*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}
.wave{
    position: fixed;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    top: 58px;
}
.container::-webkit-scrollbar {
    display: none;
  }
.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 7em;
    padding: 0 2rem;
    overflow: scroll;

}
.img{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.login-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
.img img{
    width: 500px;
}
form{
    width: 360px;
}
.avatar{
    width: 100px;

}
form h2{
    font-size: 2.9rem;
    text-transform: uppercase;
    margin: 15px 0px;
    color: #333;
}
.input-div{
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}
.input-div.one{
    margin-top:0px ;
}
 .input-div.two{ 
    margin-bottom: 4px;
} 
.i{
    display: flex;
    justify-content: center;
    align-items: center;

}
.i i{
    color: #d9d9d9;
    transition: .3s;
}
.input-div > div{
    position: relative;
    height: 45px;
}
.input-div > div h5{
    position:absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 18px;
    transition: .3s;
    /* display: none; */
    
}
.input{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #555;
    font-family: "Poppins', sans-serif";
}
.input-div::after,.input-div::before{
    content: "";
    position: absolute;
    bottom: -2px;
    width: 50%;
    height: 2px;
    
    transition: .3s;
} 
.input-div::after{
    right: 50%;
}
.input-div::before{
    left: 50%;
}
.input-div.focus::after, .input-div.focus::before{
    width: 50%;
    background-color: #38d39f;
}
.input-div.focus .i i{
    color: #38d39f;

}
.input-div.focus div h5{
    top: -5px;
    font-size: 15px;
}


.new{
    display: block;
    text-align: right;
    text-decoration: none;
    color: #999;
    font-size: 0.9rem;
    transition: .3s;
}
.new:hover{
    color: #38d39f;

}
.btn{
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    margin: 1rem 0;
    font-size: 1.2rem;
    outline: none;
    border: none;
    background-image: linear-gradient(to right,#32be8f,#38d39f,#32be8f);
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    background-size: 200%;
    transition: .5s;
}
.btn:hover{
    background-position: right;
}

@media screen and (max-width: 1050px){
	.container{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}

	.login-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}

	.img img{
		width: 400px;
	}
}
@media screen and (max-width: 900px){
	.container{
		grid-template-columns: 1fr;
	}

	.img{
		display: none;
	}

	.wave{
		display: none;
	}

	.login-content{
		justify-content:center;
	}
}

